$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html {
  overflow-x:hidden;
}

body {
  margin:0;
  padding:0;
  color: #CCCCCC;
  h1{
    font-size: 6em;
  }
  h2{
    font-size: 4.5em;
  }
  h3{
    font-size: 3em;
  }
  h4{
    font-size: 2.25em;
  }
  h5{
    font-size: 1.75em;
  }
  h6{
    font-size: 1.25em;
  }
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../images/highway.png) no-repeat;
  background-size: cover;
}

@media screen and (max-device-width: 800px) {
  html {
    background: url(../images/highway.png) #000 no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
}
